.headerText_c19a55 {
    background-color: rgba(255, 255, 255, 0.719);
    margin-top: 5px;
    padding-inline: 10px;
    border-radius: 30px;
}

.divider__908e2 {
    border-top: none;
}

.visual-refresh .content__908e2 {
    background-color: transparent;
}

.form_f75fb0 {
    background-color: seashell;
}

.scrollableContainer__74017 {
    background-color: seagreen;
}

.slateTextArea_ec4baf {
    color: black;
}

.inner__74017 div {
    color: seashell;
}

.spriteGreyscale__04eed {
    color: black;
}

.messagesWrapper__36d07 {
    background-color: seashell;
}

.messageListItem__5126c:not([data-text="Chain knight"]) {
    border-radius: 30px;
    border-top-left-radius: 0px;
    padding: 5px;
    padding-top: 0px;
    margin-right: 80%;
    margin-top: 5px;
    margin-left: 2%;
    background-color: coral;
}

.messageListItem__5126c .messageContent_c19a55{
    color: seashell;
}

.messageListItem__5126c .repliedTextPreview_c19a55{
    color: seashell;
}

.messageListItem__5126c:has([class="nameContainer__703b9"]) {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0px;
    padding: 0px;
    padding-top: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-left: 0px;
    background-color: seashell;
}

.messageListItem__5126c:has([data-text="Chain knight"]) {
    border-radius: 30px;
    border-top-right-radius: 0px;
    margin-right: 1%;
    margin-left: 80%;
    background-color: seagreen;
}



.messageListItem__5126c:has([data-text="Chain knight"]) +  .messageListItem__5126c:has(.timestampVisibleOnHover_c19a55){
    border-radius: 30px;
    border-top-right-radius: 0px;
    margin-right: 1%;
    margin-left: 80%;
    background-color: seagreen;
}


.visual-refresh nav[class*=guilds_] {
    margin-bottom: unset;
}

.searchBar__35e86 {
    background-color: linen;
}

.bar_c38106 {
    background-color: antiquewhite;
}

.visual-refresh .wrapper_ef3116 {
    background-color: antiquewhite;
}

.upperContainer__9293f ::after {
    display: none;
}

.visual-refresh .theme-light {
    background-color: linen;
}


.visual-refresh .title__85643 {
    align-items: center;
    display:inline-flex;
    gap: none;
    justify-content: center;
    max-width: none
}

.visual-refresh .title__85643 .defaultColor__4bd52{
    display: none;
}

.visual-refresh .title__85643:after {
    content: url(https://chain-knight.github.io/undersea-bubbles/icon_logo.png);
    scale: 0.5;
}
.title__85643 svg {
    display: none;
}

.visual-refresh .privateChannels__35e86 {
    background-color: seashell;
}

.visual-refresh .scroller__99e7c {
    background-color: transparent;
}

.visual-refresh .title_f75fb0 {
    background-color: linen;
}

.visual-refresh .sidebar_c48ade {
    background-color: antiquewhite;
}
